.sticky {
    height: 230vh;
    position: relative;
    pointer-events: auto;
    width: 100vw;
}

.fold {
    display: none;
    top: 0 !important;
    pointer-events: auto;
    position: -webkit-sticky;
    position: sticky !important;
    padding: 1.5vh 2vw;
    border: 1.9px solid white;
    border-radius: 50px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.page-title {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 3000;
    font-size: 8.2vw;
    overflow: hidden;
    color: white;
    font-family: 'Gilroy-ExtraBold', sans-serif;
    text-align: center;
}

.page-title.mobile {
    padding-top: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
}

.page-title.desktop {
    color: white;
    flex-direction: column;
    padding-top: 0;
    align-items: flex-start;
    justify-content: left;
    position: absolute;
    font-size: 7vw;
}

.Hanisha {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    animation: titleHanisha 2s forwards;
}

.Jain {
    display: flex;
    height: auto;
    z-index: 101;
    font-size: 12vw;
    overflow: hidden;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Gilroy-ExtraBoldItalic', sans-serif;
    text-align: center;
    /* Reset any default margins */
    animation: titleJain 2s forwards;
}

.page-title.shrunk {
    align-items: center;
    top: 0;
    padding-top: 7vh;
    bottom: 0;
    /* Reset any default margins */
}

.Hanisha.shrunk {
    color: white;
    margin-bottom: 19vh;
    text-align: center;
    transition: margin 1s ease;
}

.Jain.shrunk {
    color: white;
    margin-top: 3vh;
    text-align: center;
    transition: all 1s ease;
}


.profile-header {
    position: absolute;
    display: block;
    width: 120vw;
    height: 120vh;
    opacity: 100%;
    border: none;
    outline: none;
    border-radius: 1.5em;
    background-image: url('/public/image/BestProfile.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;

}

.profile-header.mobile {
    background-image: url('/public/image/BestProfileMobile.png');
}

@keyframes titleHanisha {
    0% {
        transform: translateX(-5%);
        /* Start from the left */
        opacity: 0;
        /* Start invisible */
    }

    100% {
        transform: translateX(0);
        /* End at its position */
        opacity: 1;
        /* End visible */
    }
}

@keyframes titleJain {
    0% {
        transform: translateX(5%);
        /* Start from the right */
        opacity: 0;
        /* Start invisible */
    }

    100% {
        transform: translateX(0);
        /* End at its position */
        opacity: 1;
        /* End visible */
    }
}

@media (max-width: 768px) {

    .page-title.shrunk {
        align-items: center;
        padding-top: 5vh;
    }

    .Hanisha.shrunk {
        margin-bottom: 20vh;
        text-align: center;
        transition: margin 1.5s ease;
    }

    .Jain.shrunk {
        margin-top: 3vh;
        text-align: center;
        transition: margin 1s ease;
    }

    .cursor-camera {
        display: none;
    }

    .nav-button.active {
        padding: 0.7vh 2.3em;
        font-size: 3vw;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: white;
        color: #0B192C;
    }

    .nav-button {
        padding: 0.7vh 0.88em;
        /* Vertical spacing between buttons */
        font-size: 3vw;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 1.2vw;
        /* Vertical spacing between buttons */
        text-align: center;
        display: inline-block;
        /* Button size based on content */
        white-space: nowrap;
        /* Prevent text wrapping */
        width: auto;
        /* Make button width flexible based on text */
        box-sizing: border-box;
        /* Include padding and border in the element's total width and height */
        transition: all 0.3s ease;
    }

    .circle-bob {
        width: 2.1em;
        height: 2.1em;
    }

    .fold {
        margin-top: 0;
        margin-left: 0;
        border: 1px solid white;
        border-radius: 15px;
        box-sizing: border-box;
    }

    .fold-bar {
        width: 100vw;
        position: fixed;
        bottom: 0;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;
        margin: 0;
        padding: 0;
    }

    .product-designer-div {
        font-size: 3vw;
        text-align: center;
        background-size: 100% 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        width: 66%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circle-bob {
        width: 2.5em;
        height: 2.5em;
        background-size: cover;
        margin: 0 1vw;
    }

    nav {
        top: 3.3vh;
        left: auto;
        right: auto;
        padding: 1vw, 3vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}