@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/public/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url('/public/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/public/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-MediumItalic';
    src: url('/public/fonts/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('/public/fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-ExtraBoldItalic';
    src: url('/public/fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

body {
    margin: 1.5vw; /* Universal margin */
    font-family: 'Gilroy', sans-serif;
    background-color: #0B192C;
}

.title {
    margin-top: 11vh;
    z-index: 10;
    font-size: 15vw;
    overflow: hidden;
    color: white;
    font-family: 'Gilroy-ExtraBold', sans-serif;
    text-align: center;
}

.title.Jain {
    font-family: 'Gilroy-ExtraBoldItalic', sans-serif;
}

.profile-header {
    border: none;
    outline: none;
    border-radius: 50em;
    color: white;
    background-color: aqua;
    display: flex;
    margin-left: 12vw;
    margin-right: 12vw;
    height: 37vh;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    outline: none;
    border-radius: 50em;
}

nav {
    position: fixed;
    top: 0; /* Align with the top */
    left: 0; /* Align with the left */
    right: 0; /* Extend to the right edge */
    display: flex;
    flex-direction: column; /* Default to vertical layout */
    align-items: flex-end; /* Align items to the end */
    padding: 1.5vw;
    box-sizing: border-box; /* Include padding and border in total width and height */
    overflow: hidden; /* Prevent overflow */
    z-index: 1000; /* Ensure nav is on top */
}

.nav-button {
    margin: 0.55vh; /* Vertical spacing between buttons */
    padding: 0.5em 1.2em; /* Padding based on text size */
    border: 1.5px solid white; /* Border around buttons */
    border-radius: 50px; /* Rounded corners */
    font-size: 1.13vw;
    color: white;
    background-color: transparent; /* Transparent background */
    font-family: 'Gilroy-Bold', sans-serif;
    text-align: center;
    display: inline-block; /* Button size based on content */
    white-space: nowrap; /* Prevent text wrapping */
    width: auto; /* Make button width flexible based on text */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    transition: all 0.3s ease; /* Smooth transition on hover */
}

@media (max-width: 768px) {
    .nav-button {
        margin: 0.55vh 0.55em; /* Vertical spacing between buttons */
        font-size: 2.5vw;
    }

    nav {
        padding: 3.3vh;
    }
}

@media (min-width: 769px) {
    nav {
        align-items: flex-end; /* Align items to start for larger devices */
    }
}

/* Hover state */
.nav-button:hover {
    background-color: white; /* Invert colors on hover */
    color: #0B192C; /* Change text color */
    border-radius: 25px; /* Change border radius slightly */
    font-size: 1.23vw; /* Slightly increase font size */
}

/* Active state */
.nav-button.active {
    background-color: white;
    color: #0B192C;
    border-radius: 25px;
}