@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/public/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Thin';
    src: url('/public/fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('/public/fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url('/public/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/public/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-MediumItalic';
    src: url('/public/fonts/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('/public/fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-ExtraBoldItalic';
    src: url('/public/fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

body {
    cursor: none;
    font-family: 'Gilroy', sans-serif;
    background-color: #0B192C;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

/* Add this to your existing CSS */
.splash {
    font-family: 'Gilroy-Light', sans-serif;
    position: fixed; /* Cover the whole viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex; /* Center the text */
    justify-content: center;
    align-items: center;
    background-color: #0B192C; /* Background color */
    color: white;
    font-size: 1.5vw; /* Adjust size as needed */
    animation: slideIn 2s forwards; /* Trigger animation */
    z-index: 100; /* Ensure it is on top */
}

@keyframes slideIn {
    0% {
        transform: translateY(10%); /* Start from below the screen */
        opacity: 0; /* Start invisible */
    }
    100% {
        transform: translateY(0); /* End at its position */
        opacity: 1; /* End visible */
    }
}


.fade-in {
    display: block; /* Make the fold visible */
    animation: fadeIn 1s forwards; /* Fade-in animation */
}

@keyframes fadeIn {
    0% {
        opacity: 0; /* Start invisible */
    }
    100% {
        opacity: 1; /* End visible */
    }
}

.fold {
    pointer-events: auto;
    display: none;
    position: relative !important;
    padding: 1.5vh 2vw; /* Keep your padding */
    border: 1.9px solid white; /* Border all around */
    border-radius: 50px; /* Adjust for a more rounded effect */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    box-sizing: border-box; /* Include padding and border in width and height */
    overflow: hidden; /* Prevent overflow of child elements */
    margin: 0; /* Reset margin */
}

.headshot {
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    z-index: 101;
    position: relative;
    margin-top: 2.1vh;
    margin-bottom: -8.2vh;
    font-size: 12vw;
    overflow: hidden;
    color: white;
    font-family: 'Gilroy-ExtraBold', sans-serif;
    text-align: center;
}

.title.Jain {
    position: relative;
    z-index: 101;
    font-family: 'Gilroy-ExtraBoldItalic', sans-serif;
    margin-top: -9.1vh;
    animation: titleJain 2s forward 5s;
}

@keyframes titleHanisha {
    0% {
        transform: translateX(-5%); /* Start from the left */
        opacity: 0; /* Start invisible */
    }
    100% {
        transform: translateX(0); /* End at its position */
        opacity: 1; /* End visible */
    }
}

@keyframes titleJain {
    0% {
        transform: translateX(5%); /* Start from the right */
        opacity: 0; /* Start invisible */
    }
    100% {
        transform: translateX(0); /* End at its position */
        opacity: 1; /* End visible */
    }
}

.profile-header {
    background-image: url('/public/image/profileBW.png');
    object-fit: cover;
    background-size: cover; /* Ensures the image fills the div */
    background-position: center; /* Center the image */
    position: relative;
    z-index: 50;
    border: none;
    outline: none;
    border-radius: 50em;
    color: white;
    background-color: transparent;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 41vh;
    width: 66vw;
    opacity: 77%;
    transition: all 0.5s ease-in-out;
}

.profile-header:hover {
    background-image: url('/public/image/profile.png'); /* Image shown on hover */
}

.section2 {
    display: none;
    position: relative;
    cursor: none;
    pointer-events: auto;
    width: 100vw;
    height: 100vw;
}

nav {
    position: fixed;
    top: 0; /* Align with the top */
    right: 0; /* Extend to the right edge */
    display: none;
    flex-direction: column; /* Default to vertical layout */
    align-items: flex-end; /* Align items to the end */
    padding: 1.5vw;
    box-sizing: border-box; /* Include padding and border in total width and height */
    overflow: hidden; /* Prevent overflow */
    z-index: 1000; /* Ensure nav is on top */
}

.cursor-camera {
    position: fixed; /* Sticks to the viewport */
    top: 0;
    left: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    pointer-events: none; /* Allow interactions with underlying elements */
    z-index: 9998; /* Just below the custom cursor */
}

.custom-cursor {
    position: absolute;
    background-image: url('/public/image/cursor.svg');
    background-size: 50px 50px;
    background-position: center;
    width: 50px;
    height: 50px;
    pointer-events: none; /* Prevent the cursor from intercepting hover events */
    z-index: 9999; /* Ensure it stays on top */
    transition: transform 0.1s ease-out;
}

.nav-button {
    margin: 0.55vh 0px; /* Vertical spacing between buttons */
    padding: 0.5em 1.2em; /* Padding based on text size */
    border: 1.5px solid white; /* Border around buttons */
    border-radius: 50px; /* Rounded corners */
    font-size: 1.13vw;
    color: white;
    background-color: transparent; /* Transparent background */
    font-family: 'Gilroy-Bold', sans-serif;
    text-align: center;
    display: inline-block; /* Button size based on content */
    white-space: nowrap; /* Prevent text wrapping */
    width: auto; /* Make button width flexible based on text */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    transition: all 0.3s ease; /* Smooth transition on hover */
}

@media (min-width: 769px) {
    nav {
        align-items: flex-end; /* Align items to start for larger devices */
    }
}

/* Hover state */
.nav-button:hover {
    background-color: white; /* Invert colors on hover */
    color: #0B192C; /* Change text color */
    border-radius: 55px; /* Change border radius slightly */
    font-size: 1.23vw; /* Slightly increase font size */
}

/* Active state */
.nav-button.active {
    cursor: none;
    background-color: white;
    color: #0B192C;
    padding: 0.5em 2.5em;
    border: none;
    border-radius: 55px;
}

.box-bottom {
    color: white;
    position: absolute !important;
    bottom: 0px; /* Distance from the bottom */
    left: 50%; /* Start the div from the horizontal center */
    transform: translateX(-50%); /* Shift the div back by half its width to fully center it */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw; /* Adjust width as needed */
    text-align: center;
}


.circle-bob {
    background-image: url('/public/image/circle.png');
    background-size: cover;
    background-repeat: no-repeat; /* Ensure no repetition */
    background-position: center;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
}

.product-designer-div {
    background-image: url('/public/image/bottom-rectangle.png');
    background-position: center;
    background-repeat: no-repeat; /* Ensure no repetition */
    background-size: contain;
    font-size: 1.5vw;
    height: auto;
    width: 66%;
    font-family: 'Gilroy-Light', sans-serif;
}

@media (max-width: 768px) {

    .cursor-camera{
        display: none;
    }

    .headshot {
        margin-top: auto;
        margin-bottom: auto;
    }

    .nav-button.active{
        padding: 0.7vh 2.3em; /* Vertical spacing between buttons */
        font-size: 3vw;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: white;
        color: #0B192C;
    }

    .nav-button {
        padding: 0.7vh 0.88em; /* Vertical spacing between buttons */
        font-size: 3vw;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 1.2vw; /* Vertical spacing between buttons */
        text-align: center;
        display: inline-block; /* Button size based on content */
        white-space: nowrap; /* Prevent text wrapping */
        width: auto; /* Make button width flexible based on text */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
        transition: all 0.3s ease; 
    }

    .circle-bob {
        width: 2.1em;
        height: 2.1em;
    }

    .box-bottom {
        width: 100vw; /* Full width of the viewport */
        position: fixed; /* Ensure it stays at the bottom */
        bottom: 0; /* Stick to the bottom */
        height: 10vh; /* Adjust height to fill the space */
        display: flex; /* Flexbox for horizontal alignment */
        justify-content: center; /* Center the content horizontally */
        align-items: center; /* Center the content vertically */
        gap: 1vw; /* Optional: Add some space between elements */
        margin: 0; /* Remove any margin */
        padding: 0; /* Remove any padding */
    }
    
    .product-designer-div {
        font-size: 3vw;
        text-align: center;
        background-size: 100% 100%;
        background-position: bottom; /* Center the image */
        background-repeat: no-repeat; /* Prevent repetition */
        width: 66%; /* Let the width be dynamic */
        height: 100%; /* Make it fill the height of the div */
        margin: 0; /* Remove margins */
        padding: 0; /* Remove padding */
        display: flex; /* Flexbox for better alignment */
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
    }
    
    .circle-bob {
        width: 2.5em; /* Adjust as needed */
        height: 2.5em; /* Adjust as needed */
        background-size: cover; /* Ensure the image covers the circle */
        margin: 0 1vw; /* Optional: Add margin for space between the circles and text */
    }
    nav {
        top: 3.3vh;
        left: auto;
        right: auto;
        padding: 1vw, 3vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .fold {
        margin-top: 0;
        margin-left: 0;
        border: 1px solid white;
        border-radius: 15px;
        box-sizing: border-box;
    }

    .profile-header {
        margin: 0 auto; /* Center the profile header */
        border-radius: 50em;
        background-position: 64% center;
        width: 60vw; /* Make it 90% of the viewport width */
        height: 55vh; /* Adjust height automatically */
    }

    .title {
        margin-top: 10vh;
        margin-bottom: -5vh;
        font-size: 19vw;
    }

    .title.Jain {
        font-size: 19vw;
        margin-top: -6.6vh;
    }
}
