.WhoAmI {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #0B192C;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.who-text {
    font-size: 3.7vw;
    font-family: 'Gilroy-Regular', sans-serif;
    color: white;
    text-align: center;
}

.who-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 8vh;
    display: flex;
}

.text-image {
    margin-left: 10px;
    margin-right: 10px;
    width: 10vw;
    height: 8vh;
    border-radius: 5em;
    transition: all 1s ease;
}

.text-image:hover {
    width: 12vw;
    height: 12vh;
}